{% load bootstrap3 %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>{% block title %}Women in Neuroscience Repo{% endblock %}</title>
	<meta name="author" content="Gregory Fryns">
	<meta name="description" content="Listing of women working in Neuroscience">
	<meta name="keywords" content="Women,Neuroscience,brain,research">
	<meta name="viewport" content="width=device-width">
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
		<!--<link href="bootstrap.min.css" rel="stylesheet">-->
		{% bootstrap_css %}
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro%7CSource+Sans+Pro:400,700%7CSource+Serif+Pro:400">
		<link href="{% static 'viewlist/css/style.css' %}" rel="stylesheet"></style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<!--<style>
			background-image: url('https://previews.123rf.com/images/annaleni/annaleni1603/annaleni160300051/53438388-blue-ecology-thin-line-power-energy-seamless-pattern-website-design-and-tile-background-in-trendy-mo.jpg');
		</style>-->
</head>

<!--{% bootstrap_css %}-->
{% bootstrap_javascript %}

{% bootstrap_messages %}

<body>
	<div class="container">
		<div id="nav-tabs">
			{% block sidebar %}
					<ul class="nav nav-tabs">
						<li><a href="/about/">Home</a></li>
						<li class="active"><a href="/list/">Repository</a></li>
	  				<li><a href="/admin/">Admin</a></li>
					</ul>
			{% endblock %}
		</div>
	</div>
  <!--  <div id="sidebar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/list/">List</a></li>
            <li><a href="/admin/">Admin</a></li>
        </ul>
    </div> -->
	<div class="container page-container">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
	</div>
</body>
</html>
