
body {
	font-family:'Open Sans', 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Nunito', 'Lato', sans-serif;
}

.full_page {
	padding: 65px 0px 0px 0px;
}
.page-container {
	padding: 20px 50px 70px 50px;
}

.intro p {
	font-size: medium;
}

/* navbar */
.navbar-custom  {
	background-color: white;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #555;
}
.navbar-custom .navbar-nav .nav-link {
    color: #555;
}
.navbar-custom .nav-item.active .nav-link {
	color: #10898B; /*red #CC063E*/
	text-decoration: underline;
	font-weight: bold;
}
.navbar-custom .nav-item:hover .nav-link {
    color: #10898B;
}

/* head */
.headtitle {
	font-family: 'Nunito', sans-serif;
}

.headtitle>.women {
	font-family: 'Pacifico',sans-serif;
	color: #CC063E;
	font-size: 3rem;
	text-shadow: 0px 0px 1px white;
}

.page-footer a {
	color: #fff;
}

.grey-bg {
    background-color: #e6e6e6;
}

.link-secondary {
	color: #CC063E;
}

.pill-btn {
	border-radius: 50px;
}

#winrepo-logo > img {
	height: 38px;
}