{% extends "base.html" %}

{% load static %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/home.css' %}" />
{% endblock css%}

{% block page-specific %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {

			var data = google.visualization.arrayToDataTable([
				['Position', 'Entries in Repository'],
				['PhD', {{ nb_students }} ],
				['Postdoc', {{ nb_postdoc }} ],
				['Senior', {{ nb_senior }} ],
				['Other', {{ nb_all }} - {{ nb_senior }} - {{ nb_postdoc }} - {{ nb_students }} ],
			]);

			var options = {
				title: 'Career stages represented',
				colors: ['#000f96','#089600','#440096','555555'],
				fontName: 'Lato',
				fontSize: 14,
				height: 300,
				legend: {position:'right',textStyle:{fontSize: 14}},
				titleTextStyle: {color: '#555555',fontName: 'Lato',fontSize: 18}
			};

			var chart = new google.visualization.PieChart(document.getElementById('piechart'));

			chart.draw(data, options);
		}
	</script>

	<script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyCoD-FXcgIKxspIjalcutPYjaSK1B1WmXc'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Entries'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['RU', 700]
        ]);

        var options = {
					colorAxis: {colors: ['#e2f1af', '#009688']},
				};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
{% endblock page-specific%}

{% block nav-home-classes %}active{% endblock nav-home-classes %}

{% block content %}
<div class="container">
  <div class="row" id="front-page">
    <div class="col-sm-2 col-sm-offset-3">
      <a href="{% url 'profiles:index' %}" ><button class="repo-btn">View Repository</button></a>
    </div>
		<div class="col-sm-2"></div>
    <div class="col-sm-2">
      <a href="{% url 'profiles:create' %}" ><button class="enter-btn">Create profile</button></a>
    </div>
</div>

<div class="row" id="intro-container">
	<div  class="col-lg-8 col-lg-offset-2" id="text-container">
	  <p>Female neuroscientists are still under-represented in various neuroscience
			conferences (<a href="https://biaswatchneuro.com/">BiasWatchNeuro</a>). Identifying
			suitable female speakers for conferences
			can be a challenge, despite some <a href="{% url 'faq' %}">great initiatives</a>.
			The aim of this project is to promote female neuroscientists through a repository
			and recommendations provided by senior researchers.</p>
	</div>
</div>

<div class = "row" id="list-stats">
	<div class="col-lg-4" id="entries-container">
		<p id="entrie-number"> {{ nb_all }} </p>
		<p>entries in repository. </p>
	</div>
	<div class="col-lg-4" id="piechart-container">
		<div id="piechart"></div>
	</div>
	<div class="col-lg-4" id="map-container">
		<div id="regions_div"></div>
	</div>
</div>
{% endblock content %}
