{% extends "base.html" %}

{% load static %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/home.css' %}?v=3" />
{% endblock css%}

{% block header_scripts %}
	 {{ block.super }}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart', 'geochart'], 'mapsApiKey': 'AIzaSyCoD-FXcgIKxspIjalcutPYjaSK1B1WmXc'});
		google.charts.setOnLoadCallback(init);

		function drawPieChart(myID,val1,label,color1) {
			var percentVal = val1/{{ profiles.nb_all }};
			var labelVal = percentVal.toString();
			var data = new google.visualization.DataTable();
			data.addColumn('string','Position');
			data.addColumn('number','Entries in Repository');
			data.addColumn({type:'string', role:'annotation'});
			data.addRows([
				[label, val1, labelVal],
				['Rest', {{ profiles.nb_all }} -  val1,''],
			]);

			var options = {
				colors: ['#dedede','#dedede'],
				fontName: 'Open Sans',
				fontSize: 14,
				chartArea:{left:'10%',top:0,width:'80%',height:'100%'},
				width: 120,
				height: 120,
				legend: 'none',
				pieSliceText: 'none',
				pieHole: 0.6,
				enableInteractivity: false,
				slices: [{color: color1,textStyle: {color:'#555555',fontName: 'Open Sans',fontSize: 18}},
				 {textStyle: {color:'#ffffff',fontName: 'Open Sans',fontSize: 1}}]
			};

			var Piechart = new google.visualization.PieChart(document.getElementById(myID));

			Piechart.draw(data, options);
		}

		function drawRegionsMap() {
				var data = google.visualization.arrayToDataTable([['Country', 'Profiles']{% for entry in profiles.country_stats %}, ['{{ entry.country__name }}', {{ entry.total }}]{% endfor %}], false);

			var options = {
				// colorAxis: { colors: ['#db9daf', '#cc063e'] },
				colorAxis: { colors: ['#a0c1c1', '#10898B'] },
				legend: 'none',
				tooltip: {isHtml: false},
			};

			var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

			chart.draw(data, options);
		}

		function init() {
		    drawPieChart('chartPhD',{{ profiles.nb_students }},'PhD students','#CC063E');
			drawPieChart('chartPostDoc',{{ profiles.nb_postdoc }},'Post-doc','#E83535');
			drawPieChart('chartSenior',{{ profiles.nb_senior }},'Senior','#FD9407');
			drawPieChart('chartOther',{{ profiles.nb_other }},'Other','#999999');
			drawRegionsMap();
		}

	</script>
{% endblock header_scripts %}

{% block nav-home-classes %}active{% endblock nav-home-classes %}

{% block page_container %}
{% endblock page_container %}

{% block full_page_content %}
<div class="container-fluid p-0">
	<img src="{% static 'profiles/images/banner2.jpg' %}" class="img-fluid"  id="hero-image" alt="Responsive image">
</div>
<div class="container-fluid" id="home-search">
		<form action="list" method="get" class="input-group bg-white rounded p-1 mx-auto">
			<input type="text" id="search-input" class="form-control" placeholder="Enter search keywords here..." aria-label="Search" name="s" autofocus>
			<button type="submit" id="search-btn" class="btn btn-secondary pl-4 pr-4">Search</button>
		</form>
</div>
<div class="container-fluid bg-primary text-white pt-5 pb-5" id="intro-container">
	<div class="row no-gutters p-4">
		<div class="col-md-4 offset-md-4 text-center">
			<h1 class="headtitle"> <span class="women">Women</span> in Neuroscience </h1>
		</div>
	</div>
	<div class="row no-gutters p-4">
		<div  class="col-md-10 offset-md-1" id="intro-text" >
			<p class="h5 text-justify">Despite some effort from the community and
				<a class="text-quinary" href="{% url 'faq' %}#heading-resources">great initiatives</a>, female neuroscientists <a class="text-quinary" href="https://onlinelibrary.wiley.com/doi/abs/10.1111/ejn.14397">are
				still under-represented in neuroscience</a>.
				The aim of this Women in Neuroscience Repository is to help you identify
				and recommend female neuroscientists for conferences, symposia or collaborations.</p>
		</div>
	</div>
	<div class="d-flex flex-wrap justify-content-around header-buttons">
		<div class="m-2">
			<a href="{% url 'profiles:index' %}" class="btn pill-btn header-btn text-white">View Repository</a>
		</div>
		<div class="m-2">
			<a href="{% url 'profiles:create' %}" class="btn pill-btn header-btn text-white">Create Profile</a>
		</div>
		<div class="m-2">
			<a href="{% url 'profiles:recommend' %}" class="btn pill-btn header-btn text-white">Recommend</a>
		</div>
	</div>
</div>

<div id="reco-carousel" class="container-fluid carousel bg-light slide" data-ride="carousel" data-interval="60000">
  <ol class="carousel-indicators">
	{% for reco in recommendations.sample %}
    <li data-target="#reco-carousel" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active">{% endif %}</li>
	{% endfor %}
  </ol>
  <div class="carousel-inner m-auto">
  {% for reco in recommendations.sample %}
    <div class="carousel-item p-4{% if forloop.first %} active{% endif %}">
	<span class="text-secondary quote-icon float-left m-2"><i class="fas fa-quote-left"></i></span>
	<blockquote class="blockquote text-center m-2">
		<p class="mb-0">{{ reco.comment|truncatechars:255 }}</p>
		<footer class="blockquote-footer">{{ reco.reviewer_name }}, about <a class="text-primary" href="{% url 'profiles:detail' reco.profile.id %}">{{ reco.profile.name }}</a></footer>
	</blockquote>
    </div>
  {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#reco-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#reco-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid" id="stats">
	<div class="text-center m-4" id="entries-container">
		<p class="h1 text-secondary font-weight-bold mb-0" id="entries-number"> {{ profiles.nb_all }} </p>
		<p class="h5 text-primary" id="entries-text">entries in repository. </p>
	</div>

	<div class="d-flex flex-wrap justify-content-center align-items-start m-4" id="chart-stats">
		<div class="p-2 text-center donutTab">
			<table>
				<tr>
					<td class="donutCell">
						<div id="chartPhD" class="donutDiv"></div>
						<div class="donutValue"> {{ profiles.pct_students }}%</div>
					</td>
				</tr>
			</table>
			<span class="position-title text-secondary" id="PhDtext">PhD</span>
			<p class="position-text">{{ profiles.nb_students }} profiles</p>
		</div>
		<div class="p-2 text-center donutTab">
			<table>
				<tr>
					<td class="donutCell">
						<div id="chartPostDoc" class="donutDiv"></div>
						<div class="donutValue">{{ profiles.pct_postdoc }}%</div>
					</td>
				</tr>
			</table>
			<span class="position-title text-tertiary" id="PostDoctext">Post-doc</span>
			<p class="position-text">{{ profiles.nb_postdoc }} profiles</p>
		</div>
		<div class="p-2 text-center donutTab">
			<table>
				<tr>
					<td class="donutCell">
						<div id="chartSenior" class="donutDiv"></div>
						<div class="donutValue">{{ profiles.pct_senior }}%</div>
					</td>
				</tr>
			</table>
			<span class="position-title text-quaternary" id="Seniortext">Senior</span>
			<p class="position-text">{{ profiles.nb_senior }} profiles</p>
		</div>
		<div class="p-2 text-center donutTab">
			<table>
				<tr>
					<td class="donutCell">
						<div id="chartOther" class="donutDiv"></div>
						<div class="donutValue">{{ profiles.pct_other }}%</div>
					</td>
				</tr>
			</table>
			<span class="position-title text-senary" id="Othertext">Other</span>
			<p class="position-text">{{ profiles.nb_other }} profiles</p>
		</div>
	</div>

	<div class="row no-gutters m-4" id="country-stats">
		<div class="col-12 col-md-8 offset-md-2" id="map-container">
			<div id="regions_div"></div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row no-gutters m-4 pt-4">
		<div class="col-12 col-md-8 offset-md-2 text-center">
			<h2 class="text-secondary">Going to a conference soon?</h2>
			<p class="text-dark text-justify">Download our slide and insert it at the end of your presentation!
				It will raise awareness on the issue of gender equity in neuroscience and show that there are resources to
				help conference organizers. In addition, it will encourage researchers to submit recommendations of their peers.</p>
			<a href="{% static 'images/slide_30Oct2018.pdf' %}" class="btn pill-btn slide-btn text-white btn-secondary" download="WinRepo_Slide">Download slide</a>
		</div>
	</div>
</div>

{% endblock full_page_content %}

