{% extends "base.html" %}

{% load static %}

{% block title %}
	{{ block.super }} - Repository
{% endblock title %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style.css' %}" />
{% endblock css %}

{% block nav-repository-classes %}{{ block.super }} active{% endblock nav-repository-classes %}

{% block full_page_content %}
	<div id="list-search" class="w-100 grey-bg">
		<form>
			<div id="search-container" class="form-row p-2">
				<div class="col-12 col-sm-8 offset-sm-2">
					<div id="search-form" class="input-group bg-white rounded">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fas fa-search"></i>
							</span>
						</div>
						<input id="search" class="form-control" type="text" placeholder="Enter keywords separated with spaces..." />
					</div>
				</div>
			</div>
			<div class="form-row p-2 text-muted">
				<div id="underrepresented-countries" class="col-12 col-sm-10 offset-sm-2 col-lg-4 offset-lg-2">
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="underrepresented-only">
						<label class="form-check-label" for="underrepresented-only">Under Represented Countries Only</label>
					</div>
				</div>
				<div id="senior-positions" class="col-12 col-sm-10 offset-sm-2 col-lg-4 offset-lg-0">
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="senior-only">
						<label class="form-check-label" for="senior-only">Senior Positions Only</label>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock full_page_content %}

{% block content %}
	{% if profile_list %}
		<div class="container text-muted">
			<div id="search-entries">
				<span id="search-message">
					<span class="text-primary font-weight-bold">{{ profile_list|length }}</span> entries found</span>
			</div>
			<table id="results-table" class="table">
				<tbody>
					<!-- <tr>
						<th style="display:none;">ID</th>
						<th class="col-md-3">Name</th>
						<th class="col-md-3">Position</th>
						<th style="display:none;">Field of Research</th>
						<th class="col-md-4 hidden-xs">Keywords</th>
						<th class="col-md-1">Details</th>
						<th class="col-md-1 hidden-xs">Recommendations</th>
					</tr> -->

					{% for profile in profile_list %}
						<tr>
							<td class="profile_id" style="display:none;">{{ profile.id }}</td>
							<td class="col-3">
								<h4 class="searchable text-primary">{{ profile.name }}</h4>
							</td>
							<td class="col-4 details-grey">
								<p class="m-1 searchable{% if profile.country.is_under_represented %} under-represented{% endif %}"><i class="fas fa-map-marker-alt"></i> {{ profile.country }}</p>
								<p class="m-1 searchable"><i class="fas fa-university"></i> {{ profile.institution }}</p>
								<p class="m-1 searchable{% if profile.is_senior %} senior{% endif %}"><i class="fas fa-user"></i> {{ profile.position }}</p>
							</td>

							<td style="display:none;">
								<dl>
									<dt>Brain Area</dt><dd class="searchable">{{ profile.brain_structure }}</dd>
									<dt>Domain</dt><dd class="searchable">{{ profile.domain }}</dd>
									<dt>Modalities</dt><dd class="searchable">{{ profile.modalities }}</dd>
									<dt>Methods</dt><dd class="searchable">{{ profile.methods }}</dd>
								</dl>
							</td>
							<!-- <td class="searchable col-md-4 hidden-xs">{{ profile.keywords}}</td> -->
							<td class="col-2 hidden-xs">
								{% if profile.recommendation_set.all|length %}
								<span class="text-primary"><i class="fas fa-comment"></i> {{ profile.recommendation_set.all|length }}</span>
									<!-- <a href="{% url 'profiles:recommend' profile.id %}" class="btn btn-primary" role="button"><span class="far fa-thumbs-up" id="recommend-icon"></span></a> -->
								{% endif %}
							</td>
							<td class="col-3">
								<a class="btn pill-btn text-white btn-secondary" href="{% url 'profiles:detail' profile.id %}">View Profile</a>
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
		<!-- from http://jsfiddle.net/gilbitron/Lt2wH/ -->
		<a href="#" id="back-to-top" title="Back to top" class="btn"><i class="fas fa-chevron-circle-up"></i>
</a>

	{% else %}
		<p>No profiles to show.</p>
	{% endif %}
{% endblock content %}

{% block footer_scripts %}
	{{ block.super }}
	<script src="{% static 'profiles/js/jquery.ba-throttle-debounce.min.js' %}"></script>
	<script src="{% static 'profiles/js/list.js' %}"></script>
{% endblock footer_scripts %}
