{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
	{{ block.super }} - Edit Profile
{% endblock title %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style.css' %}?v=4" />
{% endblock css %}

{% block nav-create-classes %}active{% endblock nav-create-classes %}

{% block content %}
{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="col-lg-10 col-lg-offset-1">
	<form action="" method="post">
		{% csrf_token %}´
		<div class="form-row">
			<div class="form-group col-md-6 mb-0">
				{{ user_form.password1.as_crispy_field }}
			</div>
			<div class="form-group col-md-6 mb-0">
				{{ user_form.password2.as_crispy_field }}
			</div>
		</div>
		 <div class="form-row">
			<div class="form-group col-md-6 mb-0">
				{{ profile_form.name.as_crispy_field }}
			</div>
			<div class="form-group col-md-6 mb-0">
				{{ profile_form.last_name.as_crispy_field }}
			</div>
		</div>
		{{ profile_form.institution.as_crispy_field }}
		{{ profile_form.country.as_crispy_field }}
		{{ profile_form.position.as_crispy_field }}
		{{ profile_form.email.as_crispy_field }}
		{{ profile_form.webpage.as_crispy_field }}
	 	<div class="form-row">
		 	<div class="form-group col-md-6 mb-0">
			 	{{ profile_form.grad_month.as_crispy_field }}
		 	</div>
		 	<div class="form-group col-md-6 mb-0">
			 	{{ profile_form.grad_year.as_crispy_field }}
		 	</div>
	 	</div>
	 {{ profile_form.brain_structure.as_crispy_field }}
	 {{ profile_form.modalities.as_crispy_field }}
	 {{ profile_form.methods.as_crispy_field }}
	 {{ profile_form.domains.as_crispy_field }}
	 {{ profile_form.keywords.as_crispy_field }}
	 {{ profile_form.captcha }}

	 <button type="submit" class="btn btn-primary pill-btn">
		 Submit
	 </button>

	</form>
</div>
{% endblock content %}

{% block footer_scripts %}
    {{ block.super }}
    {{ form.media }}
{% endblock footer_scripts %}