{% extends "base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
	{{ block.super }} - Profile Details
{% endblock title %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style.css' %}" />
{% endblock css %}

{% block nav-repository-classes %}active{% endblock nav-repository-classes %}

{% block content %}

<h1>{{ profile.name }}</h1>
<!-- <a href="#" id="previous-btn" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">{% bootstrap_icon "chevron-up" %} Previous</a> -->
<!-- <a href="#" id="next-btn" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">{% bootstrap_icon "chevron-down" %} Next</a> -->
<!-- <span id="page-number"></span> -->
<div id="profile-id" style="display: none;">{{ profile.id }}</div>
<p>{{ profile.position }} - {{ profile.institution }} - {{ profile.country }}</p>

{% if profile.email %}
<a href="mailto:{{ profile.email }}" class="btn btn-primary" role="button">{% bootstrap_icon "envelope" %}</a>
{% endif %}
{% if profile.webpage %}
<a href="{{ profile.webpage }}" class="btn btn-primary" role="button" target="_blank">{% bootstrap_icon "user" %}</a>
{% endif %}
<div class="card">
<h3>Field of Research</h3>
<ul class="list-group list-group-flush">
	<li class="list-group-item" style="border: none;"><strong>Brain Area:</strong>{{ profile.brain_structure }}</li>
	<li class="list-group-item" style="border: none;"><strong>Domain:</strong>{{ profile.domain }}</li>
	<li class="list-group-item" style="border: none;"><strong>Modalities:</strong>{{ profile.modalities }}</li>
	<li class="list-group-item" style="border: none;"><strong>Methods:</strong>{{ profile.methods }}</li>
</ul>
</div>
<h3>Keywords</h3>
<div>{{ profile.keywords }}</div>

<nav id="filtered-list-navigation" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a id="previous-btn" class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item disabled"><span id="page-number"></span></li>
    <li class="page-item disabled">
      <a id="next-btn" class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

<h2>{{ profile.recommendation_set.all|length }} Recommendations </h2>
<a href="{% url 'profiles:recommend' profile.id %}" class="btn btn-primary" role="button">{% bootstrap_icon "star" %} Write a recommendation</a>
<ul id="profile-quotes" class="list-unstyled">
{% for recommendation in profile.recommendation_set.all %}
<li class="quote">
	<span class="quote-icon">{% bootstrap_icon "heart" %}</span>
	<span class="quote-reviewer">{{ recommendation.reviewer_name }}</span>
	<span class="quote-institution">{{ recommendation.reviewer_institution }} ({{ recommendation.reviewer_position }})</span>
	<span class="quote-seen-at-conf">
		{% if recommendation.seen_at_conf %}
			<img src="{% static "profiles/images/lecture.svg" %}" alt="Seen at conference"  title="Seen at conference" style="width:20px" />
		{% else %}
			<img src="{% static "profiles/images/lecture_bw.svg" %}" alt="Not seen at conference"  title="Not seen at conference" style="width:20px" />
		{% endif %}
	</span>
	<blockquote><p>{{ recommendation.comment }}</p></blockquote>
</li>
{% endfor %}
</ul>
<!-- Icons made by <a href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a> -->
Noticed something wrong in your profile? Send email with instructions to update it by clicking <a href="{% url 'profiles:edit' profile.id %}">here</a>.

<script src="{% static 'profiles/js/profile_detail.js' %}"></script>

{% endblock content %}
