{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}
	{{ block.super }} - Profile Details
{% endblock title %}

 {% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style.v1.css' %}" />
{% endblock css %}

{% block nav-repository-classes %}active{% endblock nav-repository-classes %}

{% block full_page_content %}
	<div id="list-search" class="w-100 bg-primary" style="height:250px; margin-bottom:-150px;"></div>
{% endblock full_page_content %}

{% block content %}

{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<div class="alert alert-success">
		<strong>{{ message|escape }}</strong>
	</div>
	{% endfor %}
</ul>
{% endif %}

<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-xs-6 col-sm-8 col-md-9 text-muted details-grey">
			<h2 class="text-primary font-weight-bold">{{ profile.name }}</h2>
			<p class="m-1"><i class="fas fa-user"></i> {{ profile.position }}</p>
			<p class="m-1"><i class="fas fa-university"></i> {{ profile.institution }}</p>
			<p class="m-1"><i class="fas fa-map-marker-alt"></i> {{ profile.country }}</p>
			{% if profile.grad_year %}<p class="m-1"><i class="fas fa-graduation-cap"></i> {{ profile.grad_month_labels }} {{ profile.grad_year }}</p>{% endif %}
			<div id="profile-id" class="d-none">{{ profile.id }}</div><!-- Used to pass profile ID to jQuery in profile_details.js -->
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="d-flex flex-column">
				<a class="btn pill-btn text-white btn-secondary m-1{% if profile.email == "" %} disabled{% endif %}" href="mailto:{{ profile.email }}">
					<i class="fas fa-envelope"></i> Send Email</a>

				<a class="btn pill-btn text-white btn-secondary m-1{% if profile.webpage == "" %} disabled{% endif %}" href="{{ profile.webpage }}" target="_blank">
					<i class="fas fa-address-card"></i> View Page</a>

				<a class="btn pill-btn btn-outline-primary m-1" href="{% url 'profiles:recommend' profile.id %}">
					<i class="fas fa-comment"></i> Recommend</a>
			</div>
		</div>
	</div>
</div>

<div id="field-of-research">
	<h5 class="text-primary font-weight-bold mt-5">
		<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
		Field of Research
	</h5>
	<div id="field-of-research-list" class="w-100 p-4 mt-3 d-flex flex-row grey-bg rounded">
		<div class="w-25 p-2 text-center">
			<h6 class="text-secondary font-weight-bold">Brain Area</h6>
			<ul class="list-group list-group-flush">
				{% for structure in profile.brain_structure_labels %}
				<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ structure }} </li>
				{% endfor %}
			</ul>
		</div>
		<div class="w-25 p-2 text-center">
			<h6 class="text-secondary font-weight-bold">Domain</h6>
			<ul class="list-group list-group-flush">
				{% for domain in profile.domains_labels %}
				<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ domain }} </li>
				{% endfor %}
			</ul>
		</div>
		<div class="w-25 p-2 text-center">
			<h6 class="text-secondary font-weight-bold">Modalities</h6>
			<ul class="list-group list-group-flush">
				{% for modality in profile.modalities_labels %}
				<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ modality }} </li>
				{% endfor %}
			</ul>
		</div>
		<div class="w-25 p-2 text-center">
			<h6 class="text-secondary font-weight-bold">Methods</h6>
			<ul class="list-group list-group-flush">
				{% for method in profile.methods_labels %}
				<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ method }} </li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% if profile.keywords %}
<div id="keywords">
	<h5 class="text-primary font-weight-bold mt-5">
		<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
		Other keywords
	</h5>
	<div class="grey-bg p-4 mt-3 rounded">
		<p>{{ profile.keywords }}</p>
	</div>
</div>
{% endif %}

<div id="recommendations">
	<h5 class="text-primary font-weight-bold mt-5">
		<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
			Recommendations
	</h5>
	<!--<div class="col-12 col-md-4 text-right pt-3 pr-4">
		<a class="btn pill-btn text-white btn-primary" href="{% url 'profiles:recommend' profile.id %}" target="_blank">Recommend</a>
	</div>-->
	{% if profile.recommendation_set.all %}
	<span class="text-primary float-right" style="margin-top:-34px;"><i class="fas fa-comment num-rec"></i> {{ profile.recommendation_set.all|length }}</span>
		<ul id="profile-quotes" class="list-unstyled">
		{% for recommendation in profile.recommendation_set.all %}
			<li class="quote grey-bg p-4 mt-3 rounded">
				<h5 class="quote-reviewer text-secondary font-weight-bold">{{ recommendation.reviewer_name }}
				<small class="text-secondary">({{ recommendation.reviewer_position }} - {{ recommendation.reviewer_institution }})</small>
				</h5>
				<!-- <span class="quote-seen-at-conf">
					{% if recommendation.seen_at_conf %}
						<img src="{% static "profiles/images/lecture.svg" %}" alt="Seen at conference"  title="Seen at conference" style="width:20px" />
					{% else %}
						<img src="{% static "profiles/images/lecture_bw.svg" %}" alt="Not seen at conference"  title="Not seen at conference" style="width:20px" />
					{% endif %}
				</span> -->
				<blockquote><p>{{ recommendation.comment }}</p></blockquote>
			</li>
		{% endfor %}
		</ul>
		<div class="d-flex justify-content-end"><a class="btn pill-btn btn-outline-primary m-1" href="{% url 'profiles:recommend' profile.id %}">
			<i class="fas fa-comment"></i> Recommend</a>
		</div>
	{% else %}
		<div class="m-1 pt-4">
		<p>No recommendations have been made for {{ profile.name }} yet.</p>
		<p>Have you seen her at a conference? If so, please consider
			<b><a href="{% url 'profiles:recommend' profile.id %}" target="_blank">writing her one.</a></b>
		</p>
		</div>
	{% endif %}
	<p class="m-1"></p>
</div>
<!-- Icons made by <a href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a> -->
<div class = "mt-5">
<p class="m-1 text-muted small">Noticed something incorrect in your profile? <b><a href="mailto:admin@winrepo.org?subject=Winrepo - update profile {{ profile.id }} ({{ profile.name }})"> Send us an email</a></b> with instructions so we can update it!</p>
</div>

<div id="results-nav" class="border-top pt-2 mt-4 w-100 text-muted">
	<div class="float-left">
		<a class="btn btn-outline-primary pill-btn m-1" href="{% url 'profiles:index' %}">Back to list</a>
	</div>
	<div id="filtered-list-navigation" class="float-right" style="display:none;">
		<ul class="nav justify-content-end">
			<li>
				<a id="previous-btn" class="btn btn-outline-primary pill-btn m-1 disabled" href="#">Previous</a>
			</li>
			<li><span id="page-number" class="m-1 ml-2 mr-2">Result <span id="current-result" class="text-secondary font-weight-bold"></span> of <span id="total-results"></span></span></li>
			<li>	
				<a id="next-btn" class="btn btn-outline-primary pill-btn m-1 disabled" href="#">Next</a>
			</li>
		</ul>
	</div>
</div>

{% endblock content %}

{% block footer_scripts %}
	{{ block.super }}
	<!--
	<script src="{% static 'profiles/js/profile_detail.js' %}"></script>
	-->
{% endblock footer_scripts %}
