{% extends "base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block title %}
	{{ block.super }} - Edit Profile
{% endblock title %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style.css' %}" />
{% endblock css %}

{% block nav-create-classes %}active{% endblock nav-create-classes %}

{% block content %}


<form action="" method="post">
	{% csrf_token %}
    {% bootstrap_form form %}
	
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
    {% endbuttons %}
  </form>

{% endblock content %}
