{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
	{{ block.super }} - Edit Profile
{% endblock title %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style.css' %}" />
{% endblock css %}

{% block nav-create-classes %}active{% endblock nav-create-classes %}

{% block content %}

<div class="col-lg-6 col-lg-offset-3">
    <form action="" method="post">
        {% csrf_token %}
        {% comment %} {% bootstrap_form form %} {% endcomment %}
        {{ form|crispy }}
        
        {% buttons %}
        <button type="submit" class="btn btn-primary pill-btn">
            Submit
        </button>
        {% endbuttons %}
    </form>
</div>
{% endblock content %}
