{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}
	{{ block.super }} - Recommend
{% endblock title %}


{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style.css' %}" />
{% endblock css %}

{% block nav-repository-classes %}active{% endblock nav-repository-classes %}

{% block content %}
<p> Writing a recommendation for: <b>{{ profile.name }}</b></p>
<form action="" method="post">
	{% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <button type="submit" class="btn btn-primary">
        Save
    </button>
    {% endbuttons %}
</form>

{% endblock content %}
