{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
	{{ block.super }} - Recommend
{% endblock title %}


{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style.css' %}?v=3" />
{% endblock css %}

{% block nav-recommend-classes %}active{% endblock nav-recommend-classes %}

{% block content %}
{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="col-lg-10 col-lg-offset-1">
	<form action="" method="post">
 		{% csrf_token %}
		{{ form.profile|as_crispy_field }}
		{{ form.reviewer_name|as_crispy_field }}
	 	<div class="form-row">
		 	<div class="form-group col-md-6 mb-0">
		{{ form.reviewer_position|as_crispy_field }}
		 	</div>
		 	<div class="form-group col-md-6 mb-0">
		{{ form.reviewer_institution|as_crispy_field }}
		 	</div>
	 	</div>

		 <div id="div_id_skills" class="form-group">
			<label class="col-form-label">{{ form.skills.label }}</label>
			<small id="hint_id_skills" class="form-text text-muted">{{ form.skills.help_text|safe }}</small> 
			{{ form.skills.errors }}
			<div class="btn-group-toggle" data-toggle="buttons">
				{% for value, text in form.skills.field.choices %}
					<div class="btn btn-outline-primary pill-btn m-2 px-3{% if value in form.skills.value %} active{% endif %}">
						<input id="skills_choices_{{ forloop.counter0 }}" class="skills_checkbox" name="{{ form.skills.name }}" type="checkbox" value="{{ value }}"{% if value in form.skills.value %} checked{% endif %}>
						<label>{{ text }}</label>
					</div>
				{% endfor %}
			</div>
		</div>
		{{ form.comment|as_crispy_field }}
        {{ form.captcha }}
        <button type="submit" class="btn btn-primary pill-btn">
            Submit
        </button>
	</form>
</div>
{% endblock content %}

{% block footer_scripts %}
    {{ block.super }}
    {{ form.media }}
	<script src="{% static 'profiles/js/reco_form.js' %}"></script>
{% endblock footer_scripts %}