{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
	{{ block.super }} - Recommend
{% endblock title %}


{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style.css' %}?v=3" />
{% endblock css %}

{% block nav-recommend-classes %}active{% endblock nav-recommend-classes %}

{% block content %}
{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="col-lg-10 col-lg-offset-1">
	<form action="" method="post">
 		{% csrf_token %}
		{{ form.profile|as_crispy_field }}
		{{ form.reviewer_name|as_crispy_field }}
	 	<div class="form-row">
		 	<div class="form-group col-md-6 mb-0">
		{{ form.reviewer_position|as_crispy_field }}
		 	</div>
		 	<div class="form-group col-md-6 mb-0">
		{{ form.reviewer_institution|as_crispy_field }}
		 	</div>
	 	</div>
		{{ form.seen_at_conf|as_crispy_field }}
		{{ form.comment|as_crispy_field }}
        {{ form.captcha }}
        <button type="submit" class="btn btn-primary pill-btn">
            Submit
        </button>
	</form>
</div>
{% endblock content %}

{% block footer_scripts %}
    {{ block.super }}
    {{ form.media }}
{% endblock footer_scripts %}