.container-fluid {
	font-size: 16px;
}

#hero-image > img{
	width: 100vw;
	padding-top: 28px;
	/* min-height: 200px; */
}

#home-search {
	height: 0;
}

#home-search>form {
	transform: translate(0, -50%);
	max-width: 600px;
}

#home-search input {
	border: none;
}

#home-search input:focus {
	box-shadow: none;
}

#intro-text {
	max-width: 800px;
	margin: auto;
}

.pill-btn {
	padding: 12px 0;
	border-radius: 50px;
	width: 160px;
}

.header-buttons {
	max-width: 600px;
	margin: auto;
}

.header-btn {
	border-color: white;
}

.header-btn:hover {
	background-color: rgba(255,255,255,0.12);
	color: white;
}

/* Stats */
.donutCell
{
    position: relative;
}

.donutValue
{
    position: absolute;
    left: 50%;
    top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
    text-align: center;
    font-size: 16px;
    color: #555555;
}

.position-title {
	font-size: 18px;
	font-weight: bold;
}

.position-text {
	font-size: 14px;
	color: #555555;
}

#map-container {
	max-width: 800px;
}

/* carousel */
#reco-carousel {
	min-height: 240px;
}

.carousel-inner {
	max-width: 800px;
}
.carousel-control-next, .carousel-control-prev, .carousel-indicators {
    filter: invert(50%);
}

.quote-icon {
	font-size: .8em;
}