.container-fluid {
	font-size: 16px;
}

#intro-text {
	max-width: 800px;
	margin: auto;
}
#intro-text a {
	color: #E2D9C2;
}

.header-buttons {
	max-width: 500px;
	margin: auto;
}

.header-btn {
	color: white;
	padding: 12px 24px;
	border-width: 2px;
	border-color: white;
	border-radius: 50px;
	width: 180px;
}

.header-btn:hover {
	background-color: rgba(255,255,255,0.12);
	color: white;
}

/* Stats */
#entries-number {
	font-size: 2.6em;
	margin-bottom: 0px;
	margin-top: 1rem;
}

#entries-text {
	font-size: 1.4em;
	padding-top: 0px;
	margin-top: 0px;
}

.donutCell
{
    position: relative;
}

.donutValue
{
    position: absolute;
    left: 50%;
    top: 50%;
		transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
    text-align: center;
    font-size: 16px;
    color: #555555;
}

.position-title {
		font-size: 18px;
		font-weight: bold;
}

.position-text {
	font-size: 14px;
	color: #555555;
}

#map-container {
	max-width: 800px;
}

.google-visualization-tooltip {
  border: 3px solid #E83535!important;
  border-radius: 20px !important;
	font-size: 14px !important;
	font-family: 'Open Sans' !important;
	position: absolute !important;
	width: 130px !important;
	z-index:+1 !important;
}

.google-visualization-tooltip-item-list {
  list-style-type: none;
  margin: 5px!important;
}

.google-visualization-tooltip-item {
  margin: 5px!important;
  padding: 0!important;
}

.google-visualization-tooltip > ul > li > span {
	color: #555555 !important;
}

.getSlideText {
	color: #555555;
}

.slide-btn {
	background-color: #CC063E;
	border: none;
}

.slide-btn:hover {
	background-color: rgba(204,6,62,0.88);
}
