#list-search {
    padding-top: 85px;
}

#search-message>span {
  font-size:18px;
}

.entries-number {
  border-bottom: 2px solid #888888;
}

.table-entry {
  border-bottom: 1px solid #afafaf;
}

.num-rec {
  font-size: 24px;
}


/*
#results-table td {
	white-space: normal;
}
#results-table td.details-grey {
    color: #a5a5a5;
}
#results-table dl.researchDetails dt {
	width: 70px;
	color: #a7a7a7;
	font-size: small;
}
*/




/* #results-table dl.researchDetails dd {
	margin-left: 90px;
}

#results-table td.col-md-1 {
	text-align: center;
}

#results-table th.col-md-1 {
	text-align: center;
} */

.pill-btn {
	border-radius: 50px;
}

nav #page-number {
	cursor: default;
	width: 240px;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    background: #cacaca;
    color: #fafafa;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 0px;
    font-size: 42px;
    line-height: 50px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #10898B;
}

#back-to-top.show {
    opacity: 1;
}

#field-of-research-list>div {
    border-right: 1px solid #ccc;
}

#field-of-research-list>div:last-child {
   border-right: none;
}
