#search-results {
	padding-bottom: 8px;
}

#results-table td {
	white-space: normal;
}

#results-table dl.researchDetails dt {
	width: 70px;
	color: #a7a7a7;
	font-size: small;
}

#results-table dl.researchDetails dd {
	margin-left: 90px;
}

#results-table td.col-md-1 {
	text-align: center;
}

#results-table th.col-md-1 {
	text-align: center;
}

#results-table abbr {
	font-size: smaller;
	color: #555555;
}

#recommend-icon {
	font-size: 18px;
	color: white;
}

#results-table .btn:hover{
	background: #e2f1af;
	border-color: #efefef;
}

#recommend-btn {
	color: white;
}

#recommended-icon {
	color: #009688;
}

#profile-quotes .quote-icon {
	color: red;
}

#profile-quotes .quote-reviewer {
	font-weight: bold;
}



/* nav or .nav? */
nav #page-number {
	cursor: default;
	width: 240px;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    background: #cacaca;
    color: #fafafa;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #009688;
}

#back-to-top.show {
    opacity: 1;
}
