<h1>Edit: {{ profile }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'viewlist:update' profile.id %}" method="post">
{% csrf_token %}

    <input type="text" name="name" id="name"  value="{{ profile.name }}" />
    <label for="name">Full Name</label><br />
	
    <input type="text" name="institution" id="institution" value="{{ profile.institution }}"  />
    <label for="institution">Institution</label><br />

	<!-- drop down? -->
    <input type="text" name="country" id="country" value="{{ profile.country }}"  />
    <label for="country">Country</label><br />
	
    <input type="email" name="email" id="email" value="{{ profile.email }}"  />
    <label for="email">Email address</label><br />
	
	<!-- radio buttons / other = free text -->
    <input type="text" name="position" id="position" value="{{ profile.position }}"  />
    <label for="position">Position</label><br />
	
    <input type="url" name="webpage" id="webpage" value="{{ profile.webpage }}"  />
    <label for="webpage">Linked In or web page</label><br />
	
	<!-- drop downs month + year -->
    <!-- <input type="date" name="grad_date" id="grad_date" value="{{ profile.grad_date }}"  /> -->
    <!-- <label for="grad_date">Year PhD was obtained</label><br /> -->
	
	<!-- check boxes -->
    <input type="text" name="brain_structure" id="brain_structure" value="{{ profile.brain_structure }}"  />
    <label for="brain_structure">Field of Research - Brain Structure</label><br />
	
	<!-- check boxes -->
    <input type="text" name="modalities" id="modalities" value="{{ profile.modalities }}"  />
    <label for="modalities">Field of Research - Modalities</label><br />
	
	<!-- check boxes -->
    <input type="text" name="methods" id="methods" value="{{ profile.modalities }}"  />
    <label for="methods">Field of Research - Methods</label><br />

	<!-- check boxes -->
    <input type="text" name="domain" id="domain" value="{{ profile.domain }}"  />
    <label for="domain">Field of Research - Domain</label><br />
	
    <input type="text" name="keywords" id="keywords" value="{{ profile.keywords }}"  />
    <label for="keywords">Field of Research - Keywords</label><br />
	
	
	<input type="submit" value="Submit" />
</form>