{% extends "viewlist/includes/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}


{% block content %}
{% if profile_list %}
<div id="search-container" class="form-group">
	<div id="search-form" class="input-group">
		<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		<input id="search" class="form-control" type="text" placeholder="Enter keywords separated with spaces..." />
	</div>
	<label id="search-message" class="help-block" for="search"> {{ profile_list|length }} entries found</label>
	<div class="form-check">
    <input type="checkbox" class="form-check-input" id="underrepresented-countries">
    <label class="form-check-label" for="underrepresented-countries">Under Represented Countries Only</label>
  </div>
</div>

<div class="table-responsive">
	<table id="results-table" class="table"><tbody>
	<tr>
		<th style="display:none;">ID</th>
		<th>Name</th>
			<th></th>
		<th>Country</th>
		<th style="display:none;">Field of Research</th>
		<th>Keywords</th>
		<th>Details</th>
	</tr>
    {% for profile in profile_list %}
		<tr>
			<td class="profile_id" style="display:none;">{{ profile.id }}</td>
			<td> 
				<h4 class="searchable">{{ profile.name }}</h4>
				<h4><small>
					<p class="searchable">{{ profile.position }}</p>
					<p class="searchable">{{ profile.institution }}</p>
				</small></h4>
			</td>
			<td>
				{% if profile.email %}
				<a href="mailto:{{ profile.email }}" class="btn btn-primary">{% bootstrap_icon "envelope" %}</a>
				{% endif %}
				{% if profile.webpage %}
				<a href="{{ profile.webpage }}" class="btn btn-primary" target="_blank">{% bootstrap_icon "user" %}</a>
				{% endif %}
			</td>
			<td class="searchable{% if profile.country.is_under_represented %} under-represented{% endif %}">{{ profile.country }}</td>
			<td style="display:none;">
				<dl>
					<dt>Brain Area</dt><dd class="searchable">{{ profile.brain_structure }}</dd>
					<dt>Domain</dt><dd class="searchable">{{ profile.domain }}</dd>
					<dt>Modalities</dt><dd class="searchable">{{ profile.modalities }}</dd>
					<dt>Methods</dt><dd class="searchable">{{ profile.methods }}</dd>
				</dl>
			</td>
			<td class="searchable">{{ profile.keywords}}</td>
			<td><a class="details" href="{% url 'viewlist:detail' profile.id %}">More details</a></td>
		</tr>
    {% endfor %}
    </tbody></table>
    </div>

	<!-- from http://jsfiddle.net/gilbitron/Lt2wH/ -->
	<a href="#" id="back-to-top" title="Back to top" class="btn btn-info"><i class="glyphicon glyphicon-arrow-up"></i></a>
	</div>

	<script src="{% static 'viewlist/js/jquery.ba-throttle-debounce.min.js' %}"></script>
	<script src="{% static 'viewlist/js/filter.js' %}"></script>

{% else %}
    <p>No profiles to show.</p>
{% endif %}

{% endblock %}
