<h1>Write recommendation for: {{ profile }}</h1>

<form action="{% url 'viewlist:update' profile.id %}" method="post">
{% csrf_token %}
    <input type="text" name="name" id="name" />
    <label for="name">Your Name</label><br />
		
    <input type="email" name="email" id="email" />
    <label for="email">Email address</label><br />
	
	<!-- check box -->
    <input type="text" name="position" id="position" />
    <label for="position">Position</label><br />
	
    <input type="url" name="webpage" id="webpage" />
    <label for="webpage">Linked In or web page</label><br />
	
	<input type="submit" value="Submit" />
</form>