.navbar-default {
	margin-bottom: 0px
}

.container-fluid {
	font-size: 16px;
}

.header-btn {
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border-width: 2px;
	border-color: white;
	border-radius: 50px;
	text-align: center;
	width: 180px;
}

.header-btn:hover {
	background-color: rgba(255,255,255,0.12);
	color: white;
}

#intro-container {
	width:100%;
	background-color: #10898B;
	border-style: none;
}

#text-container {
	background-color: #10898B;
	text-align: center;
	border-radius: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
	color: white;
}

.intro-text a {
	color: #E2D9C2;
}

#list-stats {
	background-color: #fff;
	width: 100%;
	text-align: center;
	border-radius: 0px;
	font-size: 18px;
	padding: 20px 0px;
}

#entries-container {
	padding-left: 0px;
	padding-right: 0px;
}

#entrie-number {
	font-size: 50px;
	vertical-align: center;
	margin-bottom: 0px;
	margin-top: 1rem;
}

.entriesText {
	font-size: 24px;
	padding-top: 0px;
	margin-top: 0px;
}

#chart-stats {
	background-color: #fff;
	width: 100%;
	text-align: center;
	border-radius: 0px;
	padding: 20px 0px;
	font-size: 18px;
}

.donutCell
{
    position: relative;
}

.donutDiv
{
    width: 100%;
    height: 100%;
}

.centerLabel
{
    position: absolute;
    left: 50%;
    top: 50%;
		transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
    text-align: center;
    font-size: 16px;
    color: #555555;
}

.position-title {
		font-size: 18px;
		font-weight: bold;
}

.position-text {
	font-size: 14px;
	color: #555555;
}

#country-stats {
	background-color: white;
	width: 100%;
	text-align: center;
	border-radius: 0px;
	padding: 20px 0px;
	font-size: 18px;
}

#map-container {
	max-width: 800px;
}

#back-to-top.show {
    opacity: 1;
}
