body {
	/*font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;*/
	background-color: #e0f2f1;
	background-image: url("../images/textured_bg5.png");
	/* font-family: "Source-Sans-Pro","Source Sans Pro",serif; */
}

p, div{
	font-family: 'Lato',sans-serif;
}

.page-container {
	background-color: rgba(255,255,255,0.9);
	padding-top: 20px;
	box-shadow: 0em 0em 0.3em 0.3em #efefef;
	border-radius: 4px
}

/* .jumbotron { */
	/* background-color: #009688; */
	/* color: #ffffff; */
	/* margin-bottom: 0; */
/* } */

/* .jumbotron a { */
	/* color: #e2f1af; */
/* } */

.intro p {
	font-size: medium;
}

.btn-primary {
	background-color: #5bc4bd;
	border-color: #009688;
}

.btn-secondary {
	background-color: #fafafa;
	border-color: #ebebeb;
	color: #009688;
}

.btn-secondary.disabled {
	color: #ababab;
}

.nav-pills {
	margin: 15px;
}

.nav-pills>li {
	margin-right: 5px;
}

.nav-pills>li>a {
	border: none;
	color: #555;
	font-size: 1.2em;
}

.nav-pills>li>a:hover {
	background-color: #efefef;
	border: none;
	color: #009688;
	font-weight: bold;
	transition: color 0.4s ease 0s;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #009688;
	border: none;
	color: #e2f1af;
	font-weight: bold;
	transition: color 0.4s ease 0s;
}
