
body {
	font-family:'Open Sans', 'Lato',sans-serif;
}

.page-container {
	background-color: rgba(255,255,255,0.9);
	padding-top: 20px;
	box-shadow: 0em 0em 0.3em 0.3em #efefef;
	border-radius: 4px
	width:100%;
}

/* .jumbotron { */
	/* background-color: #009688; */
	/* color: #ffffff; */
	/* margin-bottom: 0; */
/* } */

/* .jumbotron a { */
	/* color: #e2f1af; */
/* } */

.intro p {
	font-size: medium;
}

.btn-primary {
	background-color: #10898B;
	border-color: #10898B;
}

.btn-secondary {
	background-color: #fafafa;
	border-color: #ebebeb;
	color: #10898B; /*green*/
}

.btn-secondary.disabled {
	color: #ababab;
}

/* change the background color */
.navbar-custom {
	background-color: white;
	font-size: 1.2em;
	color: #10898B;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #10898B;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #10898B;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link {
	color: #CC063E; /*red*/
	text-decoration: underline;
	font-weight: bold;
}

.navbar-custom .nav-item:hover .nav-link {
    color: #CC063E;
}

.headtitle {
	font-family: 'Nunito', sans-serif;
}

.headtitle>.women {
	font-family:'Merriweather','Pacifico',sans-serif;
	color: #CC063E;
	font-size: 3rem;
	text-shadow: 1px 1px 3px white;
}
