
body {
	font-family:'Open Sans', 'Lato', sans-serif;
}

.page-container {
	padding: 70px 50px;
}

.intro p {
	font-size: medium;
}

/* navbar */
.navbar-custom {
	background-color: white;
	font-size: 1.2em;
	color: #10898B;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #10898B;
}

.navbar-custom .navbar-nav .nav-link {
    color: #10898B;
}

.navbar-custom .nav-item.active .nav-link {
	color: #CC063E; /*red*/
	text-decoration: underline;
	font-weight: bold;
}

.navbar-custom .nav-item:hover .nav-link {
    color: #CC063E;
}

/* head */
.headtitle {
	font-family: 'Nunito', sans-serif;
}

.headtitle>.women {
	font-family:'Pacifico',sans-serif;
	color: #CC063E;
	font-size: 3rem;
	text-shadow: 0px 0px 1px white;
}


.footer {
	margin-top: 50px;
	color: white;
	padding: 20px 10px;
	vertical-align: middle;
	height: 100px;
}
